body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #787A7B;

}

header{
    z-index: 1;
    position: fixed;
    background: #353535;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
}

.IzqArea h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}


.cerrar{
    padding: 5px;
    background: #77BDE7;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    
}

.cerrar:hover{
    background: #6EABD1;
    transition: 0.3s;
    transform: scale(1.1);
}

.Sidebar{
    z-index: 1;
    top: 0;
    background: #353535;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 300px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
}

.Sidebar .Foto_Perfil{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.Sidebar h3{
    color: #EEF2F5;
    margin-top: 0;
    margin-bottom: 20px;
}

.Sidebar a{
    color: aliceblue;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 30px;
    box-sizing: border-box;
    transition: 0.6s;
    transition-property: background;
    
}

.Sidebar a:hover{
    background: cadetblue;

}

.Sidebar i{
    padding-right: 10px;
}

label #Sidebarbtn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 220px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #Sidebarbtn:hover{
    color: cadetblue;
}

#check:checked ~ .Sidebar{
    left: -240px;
}

#check:checked ~ .Sidebar a span{
    display: none;
}

#check:checked ~ .Sidebar h3{
    display: none;
}

#check:checked ~ .Sidebar a{
    font-size: 20px;
    margin-left: 230px;
    margin-top: 30px;
    width: 70px;
}

#check{
    display: none;
}

.Contenedor-Materias{
    position: relative;
    top: 200px;
    left: 400px;
    background: black;
    width: 70%;
    height: 600px;
    color: aliceblue;
    transition: 0.6s;
}

.Contenedor-Materias h1{
    padding-top: 30px;
}

.Header-Materias{
    background: #5e5f5f;
    padding-bottom: -30px;
    height: 100px;
}

.Header-Materias button{
    position: relative;
    transform: scale(1.6);
    left: 95%;
    top: -55px;
    padding: 10px;
    background: #6EABD1;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
}

.Header-Materias button i{
    color: #fff;
}

.Contenedor-Popup{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.Contenedor-Popup.active{
    visibility: visible;
}

.Popup{
    background: rgb(189, 188, 188);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    padding: 20px;
    width: 600px;
    transform: scale(0.7);
    transition: .6s ease all;
    opacity: 0;
}

.Popup h3{
    text-align: center;
    font-size: 35px;
    margin: 0;
    margin-bottom: 40px;
}

.Popup.active{
    opacity: 1;
    transform: scale(1);
}

.Popup .boton-cerrar{
    font-size: 20px;
    line-height: 16px;
    display: block;
    text-align: right;
    color:rgb(117, 115, 115);;
    transition: 0.6s ease all;
}

.Popup .boton-cerrar:hover{
    transition: 0.6s;
    color: black;
}

.Popup form .Contenedor-Detalles input{
    width: 100%;
    margin-bottom: 20px;
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #EEF2F5;
    font-size: 20px;
    border-radius: 8px;
}

.Popup form .boton-agregar{
    padding: 0 20px;
    height: 40px;
    position: relative;
    left: 40%;
    line-height: 40px;
    border: none;
    color: #fff;
    background: rgb(27, 177, 223);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: .6s ease all;
}

.Popup form .boton-agregar:hover{
    background: rgb(25, 115, 199);
}


.Caja-Seleccion select{
    width: 50%;
    margin-bottom: 20px;
    height: 50px;
    padding: 0px 10px;
    line-height: 60px;
    font-size: 20px;
    border: 1px solid #EEF2F5;
    transition: .6s ease all;
    border-radius: 4px;

}

.Caja-Seleccion select option{
    padding: 50px;
    transition: .6s ease all;
}

.Contenedor-Horarios h4{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.Caja-Seleccion{
    position: relative;
}

.Numeros{
position: relative;
top: -100px;
left: 320px;
width: 50%;
text-align: center;
}

.Numeros h4{
    margin-top: 3px;
    margin-bottom: 10px;
}

.Numeros input{
    width: 50%;
    margin-bottom: 20px;
    height: 40px;
    line-height: 60px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #EEF2F5;
    font-size: 20px;
    border-radius: 8px;
}

.header-Listas{
    display:flex ;
    justify-content: space-between;
    text-align: center;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
}

.ID{
    padding-right: 15%;
    border-right: 2px solid grey;
    border-radius: 2px;
}

.Nombre-Materi{
    padding-right: 1%;
    border-right: 2px solid grey;
    border-radius: 2px;
}

.horario{
    padding-right: 10%;
    border-right: 2px solid grey;
    border-radius: 2px;
}

.Numero-Estudiantes{
    padding-right: 5%;
    border-right: 2px solid grey;
    border-radius: 2px;
}

.Actiones{
    padding-right: 20px;
}

.Contenido-Listas{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 100px;
}

.Materias{
    position: relative;
    left: 20px;
}

.Horario{
    position: relative;
    left: 20px;
}

.Grupos{
    position: relative;
    left: 60px;
}

.Cambiar{
    position: relative;
    left: 120px;
}

.Cambiar .modificar{
    padding: 5px 15px;
    background: rgb(111, 152, 190);
    cursor: pointer;
    border: 0px;
    border-radius: 8px;
    transition: .6s ease;
}

.Cambiar .modificar:hover{
    transform: scale(1.1);
}

.Eliminar{
    position: relative;
    right: 5px;
}

.Eliminar .Borrar{
    padding: 5px 15px;
    background: rgb(206, 73, 73);
    cursor: pointer;
    border: 0px;
    border-radius: 8px;
    transition: .6s ease;
}

.Eliminar .Borrar:hover{
    transform: scale(1.1);
}

